<connectionStrings>
  <!-- Case for use many DB -->
  <!-- <add name="AppContext" connectionString="Data Source=.; Integrated Security=True;initial catalog=BaseProject; Integrated Security=True; MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /> -->
  <add name="dev" connectionString="Data Source=.; Integrated Security=True;initial catalog=BaseProject; Integrated Security=True; MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="prod" connectionString="Data Source=.; Integrated Security=True;initial catalog=BaseProject; Integrated Security=True; MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="test" connectionString="Data Source=.; Integrated Security=True;initial catalog=BaseProject; Integrated Security=True; MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>